@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
}

body.greenScreen {
  background-color: #00ff00;
  background-image: none;
}

.chat-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-height: 400px; /* Set a maximum height for the container */
  overflow-y: auto; /* Enable vertical scrolling */
}

.message-bubble {
  max-width: 60%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  color: white;
}

.message-bubble.user {
  background-color: rgba(104, 104, 104, 0.1);
  align-self: flex-end;
}

.message-bubble.bot {
  background-color: rgba(104, 104, 104, 0.1); /* Light grey with 50% opacity */
  align-self: flex-start;
}

.canvas-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}